body{
    background-color:rgba(1,2,3,0.9);
    text-align:center;
}
.container-fluid{
    background-color: black;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index:1;
}
.btn1,.btn2{
    margin: 1px 15px;
}
.btn2{
    color:green;
}
.navbar-brand{
    font-family: "ubuntu";
    color:white;
    font-size: 2.3rem;
}
hr{
    color:white;
    width: 80%;
    margin-left: 8rem;
    position: absolute;
    top: 6rem;
    z-index:0;
}
.english-songs,.tamil-songs,.telugu-songs{
    text-align: center;
    margin-top:3rem;
    position: relative;
    top: 7rem;
    z-index:0;
}
img,i{
    cursor:pointer;
    color:white;
}
img{
    height:119px;
    width:119px;
}
h3{
    font-family: "Montserrat-Thin";
    color: royalblue;
}
marquee{
    height:2rem;
    width:20rem;
    border: 2px solid grey;
    font-size: 1.2rem;
    background-color: black;
    color:white;
}
.card{
    background-color: black;
}
.footer1{
    background-color: royalblue;
    position:relative;
}
.footer2{
    position: fixed;
    background-color: #413543;
    z-index:1;
    bottom: 0;
    width: 100%;
}
input{
    background-color: black;
    color:white;
}
.first,.second,.third,.first1{
    margin-bottom: 60px;
}
.copyright{
    top:-10px;
}
.main-titles{
    padding-top:7rem;
}
.back-btn{
    text-align: left;
    position:sticky;
    top:120px;
}
@media screen and (max-width:1024px) and (min-width:769px){
    .third img,.first img,.second img{
        height:400px;
        width:400px;
    }
    .search{
        height: 2rem;
        width: 15rem;
    }
    .footer2 a{
        height: 5rem;
        width: 5rem;
    }
    .title img{
        height:400px;
        width: 400px;
        margin:5rem 0;
    }
}
.copyright{
    position:relative;
    bottom:0;
    text-align:bottom;
}
